body {
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: Source Code Pro, Menlo, Consolas, Lucida Console, monospace;
    font-size: 1.5rem;
    background-color: #f8f8f8; /* Slightly less bright white-gray */
}
a {
    color: #1EAEDB;
    text-decoration: none;
}
a:hover {
    color: #0F90BE;
}
#main_title {
    text-align: center;
    font-size: 2.5rem;
}
#noscript_warning {
    text-align: center;
    font-size: 1.5rem;
}
footer {
    height: 2rem;
    font-size: x-small;
    text-align: left;
    padding-top: 2rem;
    margin: auto;
    width: 60%;
}
/* General rules for v1 */
.v1, .v2 {
    background-color: #c6c6c67a;
}
.input-error {
    color: red;
    font-size: 1rem;
}
/* Specific rules for v1 */
.v1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*left center space-between*/
    align-items: center; /*center stretch*/
}
.v1 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*left center space-between*/
    align-items: center; /*center stretch*/
}
.v2 input {
    width: 550px;
    font-family: 'Courier New', Courier, monospace;
}
